# 源代码控制
.git
.gitignore
.github

# 环境文件
.env*
!.env.production

# 开发文件
node_modules
.next
.cache
.npm
.vscode
.idea
*.log
*.md
*.test.*
__tests__
coverage

# Docker 相关
Dockerfile
.dockerignore
docker-compose*

# 其他
.DS_Store
*.pem
*.key
tmp 