@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* 隐藏滚动条 - Webkit 浏览器 */
::-webkit-scrollbar {
  display: none;
}

/* 隐藏滚动条 - Firefox */
* {
  scrollbar-width: none;
}

/* 隐藏滚动条 - IE/Edge */
* {
  -ms-overflow-style: none;
}

/* 添加自定义工具类 */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
} 